<?php

$finder = PhpCsFixer\Finder::create()
    ->in(__DIR__)
;

return PhpCsFixer\Config::create()
    ->setRules(array(
        '@Symfony' => true,
        'concat_space' => array('spacing' => 'one'),
        'phpdoc_annotation_without_dot' => false,
    ))
    ->setFinder($finder)
;
